name: utils_well
description: "A new Flutter package project."
version: 0.0.1
homepage: none
publish_to: none

environment:
  sdk: ^3.10.0
  flutter: ">=3.38.0"

dependencies:
  flutter:
    sdk: flutter
  utils_well_dart:
    path: utils_well_dart

  sliver_tools: ^0.2.12

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
